<header>
  <%# desktop navbar %>
  <% if user_signed_in? %>
    <div class="desktop-nav-home">
      <div class="nav-container">
        <div class="nav-start">
          <%= link_to root_path do %>
            <%= image_tag("tidder_logo.png", alt: "Tidder logo", class: "tidder-logo") %>
            <span class="tidder-text">tidder</span>
          <% end %>
        </div>

        <div>
          <ul>
            <li>
              <%= link_to 'Create post', new_post_path, class: 'nav-link' %>
            </li>
            <li class="dropdown">
              <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="fa-solid fa-user"></i>
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <%= link_to 'Log out', destroy_user_session_path, class: "dropdown-item", data: {turbo_method: :delete} %>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  <% end %>


  <%# mobile navbar %>
  <% if user_signed_in? %>
    <div class="" id="mobile-nav-home">
      <%# open menu %>
      <div id="burger" data-pushbar-target="mypushbar1">
        <span><i class="fa-solid fa-bars"></i></span>
      </div>
      <div id="create-new-post">
        <%= link_to new_post_path do %>
          <i class="fa-solid fa-plus"></i>
        <% end %>
      </div>
      <div class="tidder">
          <%= link_to root_path do %>
            <%= image_tag("tidder_logo.png", alt: "Tidder logo", class: "tidder-logo") %>
            <span class="tidder-text">tidder</span>
          <% end %>
      </div>

    <div id="mobile-nav-bar">
      <ul>
        <li>
          <%= link_to root_path do %>
            <i class="fa-solid fa-house"></i>
          <% end %>
        </li>
        <li>
          <%= link_to root_path do %>
            <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
        </li>
        <li>
          <%= link_to new_post_path do %>
            <i class="fa-solid fa-plus"></i>
          <% end %>
        </li>
        <li>
          <%= link_to root_path do %>
            <i class="fa-solid fa-user"></i>
          <% end %>
        </li>
        <li>
          <%= link_to root_path do %>
            <i class="fa-solid fa-bell"></i>
          <% end %>
        </li>
      </ul>
    </div>

      <%# pushbar slide menu %>
      <div id="mobile-menu" data-pushbar-id="mypushbar1" data-pushbar-direction="left">
        <%# close menu %>
        <div id="burger-close" data-pushbar-close>
          <span><i class="fa-solid fa-xmark"></i></span>
        </div>
        <%# menu content %>
        <ul class="mobile-nav-links">
          <li><%= link_to 'Log out', destroy_user_session_path, data: {turbo_method: :delete} %></li>
        </ul>
      </div>
    </div>

  <% end %>
</header>

<script type="text/javascript">
  const pushbar = new Pushbar({
        blur:false,
        overlay:true,
      });
</script>
