<div class="center-container">
  <% @posts.each do |post| %>
    <div class="post-container" data-controller="post">
      <div class="post-data">
        <p>Posted by <%= User.find(post.user_id).username %> <%= time_ago_in_words(post.created_at) %> ago</p>
      </div>
      <h1><%= post.title %></h1>
      <p><%= post.content %><p>


      <%# create comment %>
      <div class="post-comments display-none" data-post-target="comments">
        <div class="create-comment display-none" data-post-target="addComment">
          <% comment = Comment.new %>
          <%= simple_form_for comment do |f| %>
            <%= hidden_field_tag "comment[post_id]", "#{post.id}" %>
            <%= hidden_field_tag "comment[user_id]", "#{current_user.id}" %>
            <%= f.input :content, placeholder: 'What are your thoughts?', label: false, input_html: { rows: '3' } %>
            <%= f.button :submit, 'Add comment', class: 'btn-primary' %>
          <% end %>
        </div>

      <%# comments %>
        <div class="cursor-pointer add-comment" data-action="click->post#addComment" data-post-target="hideAddComment">
          <span><i class="fa-solid fa-comment"></i> Add comment</span>
        </div>
        <% comments = Comment.where(post_id: post.id) %>
        <% comments.each do |comment| %>
          <div class="comment">
            <% if User.find(post.user_id).username ==  User.find(comment.user_id).username%>
              <p class="comment-info"><%= User.find(comment.user_id).username %> <span class="op">OP</span> - <span class="time-ago"><%= time_ago_in_words(comment.created_at) %> ago</span></p>
            <% else %>
              <p class="comment-info"><%= User.find(comment.user_id).username %> - <span class="time-ago"><%= time_ago_in_words(comment.created_at) %> ago</span></p>
            <% end %>
            <p><%= comment.content %></p>
          </div>
        <% end %>
      </div>

      <%# post actions %>
      <div class="post-actions">
        <ul>
          <div class="voting">
            <li>
              <%= render 'posts/upvote_link', post: post %>
            </li>
            <li>
              <%= render 'posts/like_count', post: post %>
            </li>
            <li>
              <%= render 'posts/downvote_link', post: post %>
            </li>
          </div>
          <li class="cursor-pointer" data-action="click->post#showComments">
            <span><i class="fa-solid fa-comments"></i> <%= comments.length %> Comments</span>
          </li>
          <li>
            <span><i class="fa-solid fa-share"></i> Share</span>
          </li>
          <li class="dropdown">
            <a href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-ellipsis"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <%= link_to 'Report', root_path, class: 'dropdown-item' %>
              <%= link_to 'Edit post', edit_post_path(post), class: 'dropdown-item' %>
              <%= link_to 'Delete post', post_path(post), class: 'dropdown-item', data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
            </div>
          </li>
        </ul>
      </div>
    </div>
  <% end %>

</div>
