<!DOCTYPE html>
<html>
  <head>
    <title>Tidder - The beginning of the Internet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%#= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/pushbar.js@1.0.0/src/pushbar.min.css" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_include_tag "https://cdn.jsdelivr.net/npm/pushbar.js@1.0.0/src/pushbar.min.js" %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

    <%= yield %>


  </body>
</html>
